  <div class="second-navbar-spacer"></div>
    <nav class="second-navbar">
      <div class="container">
        <ul class="second-navbar-list" >
		  {{#foreach navigation}}
          <li class="second-navbar-item"><a class="second-navbar-link" href="{{url absolute="true"}}">{{label}}</a></li>
		  {{/foreach}}
        </ul>
      </div>
    </nav>
  </div>
